# Dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock
pass.txt

# Configuration files
*.config.js
*.config.json
tsconfig.json
tsconfig.app.json
tsconfig.node.json
postcss.config.js
tailwind.config.js
eslint.config.js
vite.config.ts
.eslintrc*
.prettierrc*
.stylelintrc*
.babelrc*
metro.config.js
jest.config.js
karma.conf.js
webpack.config.js
rollup.config.js
.pnp.js
.pnp.cjs
.npmrc
.yarnrc
.yarnrc.yml
.prettierrc
.editorconfig
.eslintignore
.prettierignore
.stylelintignore
.browserslistrc
.nvmrc
.npmignore
.yarnignore
package.json
